<div id="active-workout" style="
    border: 1px solid {{workout.workout_type.color}};
    color: {{workout.workout_type.color}};
    text-align: center;">

    {{workout}}


    <div style="
	display: flex;
	flex-direction: column;
	max-height: 100%;
	height: 100%;">

	<div id="total-{{workout.id}}" class="weight_totals"></div>
	
	<!-- Main lift section -->
	<!-- initially displays bodypart buttons -->
	<div id="lift_entry__container" style="flex:4;">
	{% include './active_lift_info.html' with workout=workout %}
	</div>

	<div id="lift_list" style="display:none;">
	</div>

	{% include './end_workout.html' %}

    </div>
</div>
