<div id="active-workout" class="vertical-group">

	<div id="active-info" class="horizontal-group" style="flex:1;">
		<div id="workout_time"> 00:31 </div>
		<div id="workout-name">{{workout.workout_type.name}}</div>
		<div id="end-workout"> <button class="end"
			hx-get="{% url 'workouts:end_workout' workout.id %}"
			hx-target="#workout-history"
			hx-swap="innerHTML"> End </button></div>
	</div>
	<div id="meters" class="vertical-group" style="flex:1;">
		<div id="energy-meter" class="meter"> </div>
		<div id="water-meter" class="meter"> </div>
	</div>
	<div id="lift-target" class="vertical-group" style="flex:10;">
		{% include 'workouts/active_lift_selection.html' with workout=workout bodyparts=bodyparts %}
	</div>
</div>


<style>
	#workout-name { font-size: x-large; font-weight: bold; }
	#active-info {
		border: 1px solid {{workout.workout_type.color}};
		background-color: var(--pico-background-color);
		padding: 0 0.5rem;
		border-radius: var(--pico-border-radius);
	}
	#meters { margin-bottom: 0.5rem; }
	#energy-meter { border: 1px dashed red; }
	#water-meter { border: 1px dashed blue; }
	.meter {
		border-radius: var(--pico-border-radius);
		background-color: var(--pico-background-color);
		height: 100%;
	}
	.end {
		padding: 0 1rem;
		background-color: var(--pico-del-color);
		border: 1px solid var(--pico-del-color);
	}
</style>