
<div class="info" style="display:flex;">
<div id="total-{{workout.id}}" class="weight_total">
	Total Volume: {{ total }} lbs
</div>
<div class="timer" style="flex:1;"> - 02:31 - </div>
</div>
<div class="button-container" style="flex:4;">
	    <button class="add"
		  hx-target="#lift_entry__container"
		  hx-get='{% url 'workouts:bpb' workout.workout_type.id %}'
		  hx-trigger='click'
		  hx-swap='innerHTML swap:0.4s'>
		New Lift</button></div>
<div class="active_lift_info">  [ / / / / / / / / / / / / / / / / / / / ] </div>


