<h1>{{lift.movement.name}}</h1>

<div id="set-list" class="vertical-group">
	<div id="sets">
		{% if editing %}
			{% for form in set_forms %}
				{% include 'workouts/set_entry.html' with form=form set=form.instance editing=True %}
			{% endfor %}
		{% else %} {# new lift #}
		{% include 'workouts/set_entry.html' with form=set_form lift=lift editing=False %}
		{% endif %}
	</div>

	<button class="outline" style="padding: 0 1rem;"
	hx-get="{% url 'workouts:add_set' lift.id %}"
	hx-trigger="click"
	hx-target="#sets"
	hx-swap="beforeend">
		+
	</button>
</div>


<button class="outline" style="padding: 0.3rem 1rem;"
hx-get="{% url 'workouts:end_lift' lift.id %}"
hx-target="#lift-target"
hx-swap="innerHTML swap:0.4s"
>FINISHED</button>
