<div id="active-workout" style="
    border: 1px solid {{workout.workout_type.color}};
    color: {{workout.workout_type.color}};
    text-align: center;">

    {{workout}}


    <div style="
	display: flex;
	flex-direction: column;
	max-height: 100%;
	height: 100%;">

	{% include './end_workout.html' %}

	<div id="total-{{workout.id}}" class="weight_totals"></div>
	
	<!-- lift selection -->
	<div id="lift_entry__container" style="flex:4;">
	  <!-- change to get_lift_types -->
	 
	</div>

	<div id="lift_list">
	 <div class="button-container">
	    <button class="add"
		hx-get="{% url 'workouts:addl' %}"
		hx-trigger="click"
		hx-target="#lift_entry__container">
		+
	    </button>
	  </div>
	</div>

    </div>
</div>
