<li class="lift"
	{% if drag %}
	draggable="true"
	data-lift-id="{{ lift.id }}"
	{% endif %}
    hx-get="{% url 'workouts:lift_details' lift.id %}"
    hx-trigger="click"
    hx-target="closest .workout"
    hx-swap="outerHTML swap:0.4s">
    <div class="lift_main">
        <div class="lift_name">{{lift.exercise_name}}</div>
    </div>
    {% for set in lift.sets.all %}
    <div class="lift_set">
        <div class="lift_sets">{{set.reps}}</div>
        x
        <div class="lift_reps">{{set.weight}}</div>
    </div>
    {% endfor %}
</li>

