<form id="l_entry_form" 
    {% if in_overview %}
    hx-post="{% url 'workouts:submit_lift_form' %}"
    hx-target="#overview-target"
    {% else %}
    hx-post="{% url 'workouts:addl' %}"
    hx-target="#lift_entry__container"
    {% endif %}
    hx-vals='{"machine": "{{ machine }}", "bodypart": "{{bodypart}}"}'>

    {% csrf_token %}

    {{form.exercise_name}}
    <div class="button-container">
        <button type="submit" name="action" value="submit"
         {% if in_overview %}
         hx-on:click="this.closest('dialog').removeAttribute('open')"
         {% endif %}>Submit</button>
    </div>

</form>
