<form id="l_entry_form" 
    hx-post="{% url 'workouts:addl' %}"
    hx-target="#lift_entry__container"
    hx-vals='{"machine": "{{ machine }}", "bodypart": "{{bodypart}}"}'>

    {% csrf_token %}

    <div class="input_container">
        {{form.exercise_name}}
        <label for="{{ form.exercise_name.id_for_label }}">Lift Name</label>
    </div>
    <div class="button-container">
        <!-- Standard Submit Button -->
        <button class="form_btn" type="submit" name="action" value="submit">Submit</button>
    </div>

</form>
