{% load custom_filters %}
{% for lift in lifts %}
<li class="lift">
    <div class="lift_main">
        <div class="lift_name">{{lift.exercise_name}}</div>
    </div>
    {% for set in lift.sets.all %}
    <div class="lift_set">
        <div class="lift_sets">{{set.reps}}</div>
        x
        <div class="lift_reps">{{set.weight}}</div>
    </div>
    {% endfor %}
</li>
{% endfor %}

<div id="total-{{id}}" class="weight_totals" hx-swap-oob="innerHTML">
    <div class="fade-in">
        Total Workout Volume: {{total}} lbs
    </div>
</div>
