<li class="lift"
    hx-get="{% url 'workouts:lift_details' lift.id %}"
    hx-trigger="click"
    hx-target="#overview-target"
>
    <div class="lift_main">
        <div class="lift_name">{{lift.exercise_name}}</div>
    </div>
    <div class="lift_set">
        <div class="lift_sets">
            {{lift.set_count}}
        <small>sets</small></div>
        |
        <div class="lift_reps">
            {{lift.total_reps}}
        <small>reps</small></div>
    </div>
    <div class="lift_set">
        {{lift.total_volume}} lbs
    </div>
</li>
