{% load static %}
<div id="lift-carosel" class="list-container">
    {% for mv in movements %}
    <div id="mv-{{ mv.id }}" class="movement" style="position: relative;"
        hx-get="{% url 'workouts:movement' mv.id %}"
        hx-target="#overview-target"
        hx-trigger="click">
        <div class="movement-name">
            {{mv.name}} {# include icon based on category #}
            {% if mv.category == "B" %}
            <div class="custom-icon" style="color: {{ mv.instances.all.0.workout.workout_type.color }}; -webkit-mask-image: url('{% static "workouts/icons/B.svg" %}'); mask-image: url('{% static "workouts/icons/B.svg" %}');" title="Push"></div>
            {% elif mv.category == "M" %}
            <div class="custom-icon" style="color: {{ mv.instances.all.0.workout.workout_type.color }}; -webkit-mask-image: url('{% static "workouts/icons/M.svg" %}'); mask-image: url('{% static "workouts/icons/M.svg" %}');" title="Push"></div>
            {% elif mv.category == "C" %}
            <div class="custom-icon" style="color: {{ mv.instances.all.0.workout.workout_type.color }}; -webkit-mask-image: url('{% static "workouts/icons/C.svg" %}'); mask-image: url('{% static "workouts/icons/C.svg" %}');" title="Push"></div>
            {% elif mv.category == "D" %}
            <div class="custom-icon" style="color: {{ mv.instances.all.0.workout.workout_type.color }}; -webkit-mask-image: url('{% static "workouts/icons/D.svg" %}'); mask-image: url('{% static "workouts/icons/D.svg" %}');" title="Push"></div>
            {% endif %}
        </div>
        <div class="movement-level">
            <div style="position: absolute;bottom: -10px;">
            <span style="font-size:small;margin-top:6px;">Lv </span>
            <span style="margin-left:3px;"> {{mv.level|stringformat:"d"}} </span>
            </div>
        </div>
        {% widthratio mv.level|add:"-0.0" 1 100 as total_progress %}
        {# Check if the level ends in .5 #}
        <div class="exp-container" style="flex:1;"
            data-tooltip="{{ mv.level|stringformat:'.1f'|slice:'-2:'|yesno:'1/2 workouts to next level,0/2 workouts to next level' }}"
            data-placement="bottom">
            <div class="exp-bar" 
             style="width: {% if mv.level|stringformat:'.1f'|slice:'-2:' == '.5' %}50%{% else %}0%{% endif %};">
            </div>
        </div>
    </div>
    <style>
    #mv-{{ mv.id }} {
    background: linear-gradient(
        175deg,
        transparent 35%,
        color-mix(in srgb, {{ mv.instances.all.0.workout.workout_type.color }} 30%, transparent)
        ),
        var(--pico-card-background-color);
    }
    #mv-{{mv.id}}:hover {
        box-shadow: 0 0 2px {{ mv.instances.all.0.workout.workout_type.color }};
    }
    </style>
    {% endfor %}
</div>

<style>

.exp-container {
    width: 85%;
    background-color: var(--pico-muted-border-color);
    border-radius: 20px;
    position: relative;
    margin: 10px;
}

.exp-bar {
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(90deg, var(--pico-secondary) 0%, var(--pico-primary) 100%);
    transition: width 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0 8px var(--pico-primary);
}

/* Optional: Add a subtle divider in the middle to show the "2-step" nature */
.exp-container::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
</style>