<form
    {% if from == 'lift' %}
    hx-get="{% url 'workouts:add_custom_mv' %}?from=lift"
    hx-target="#lift-target"
    {% else %}
    hx-post="{% url 'workouts:add_custom_mv' %}"
    hx-target="#overview-target"
    {% endif %}>
    {% csrf_token %}

    <fieldset role="group"
        {% if from == 'lift' %}
        style="flex-direction: column;"
        {% endif %}>
        {{ form.name }}
        {{ form.bodypart }}
        {{ form.category }}
        {{ form.secondary_bodypart }}
    </fieldset>

    <button type="submit" hx-on:click="this.closest('dialog').removeAttribute('open')">Create Movement</button>
</form>