<form  class="horizontal-group"
    {% if not editing %}
    hx-post="{% url 'workouts:add_set' lift.id %}" 
    {% else %}
    hx-post="{% url 'workouts:edit_set' set.id %}" 
    {% endif %}
    hx-swap="outerHTML">

<!-- if not editing, the set doesn't exist yet; just clear. -->
  <button class="del outline" 
    {% if not editing %}
    hx-get="{% url 'workouts:clear'%}" 
    {% else %}
    hx-delete="{% url 'workouts:del_set' set.id %}" 
    {% endif %}
    hx-target="closest form"
    hx-swap="outerHTML"> x </button>

  {{ form.reps }} 
  {{ form.weight }} 

  <button class="enter outline" name="action" type="submit" value="submit"> > </button>
</form>

<style>
  .enter {
    border: 1px solid var(--pico-ins-color);
    color: var(--pico-ins-color);
    flex: 1;
  }

  .del {
    border: 1px solid var(--pico-del-color);
    color: var(--pico-del-color);
    margin-bottom: 1rem;
    flex: 1;
  }
</style>