
<div class="set-row">
  <div class="button-container" style="display:inline;">
  <button class="back-btn" style="background-color:var(--bg);
  color: #cb0014; font-size:12px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);" 
    hx-delete="{% url 'workouts:del_set' set.id %}" 
    hx-target="closest .set-row"
    hx-swap="outerHTML"
  >
    ✕
  </button>
  </div>
  <span style="flex:1;">{{ set.reps }} reps × {{ set.weight }} lbs</span>
  <div class="button-container" style="display:inline;">
  <button class="yellow_btn" style="font-size: 12px;"
    hx-get="{% url 'workouts:edit_set' set.id %}" 
    hx-target="closest .set-row"
    hx-swap="outerHTML"
  >
    <i class="fa-solid fa-pen"></i>
  </button>
  </div>
</div>
