<div class="set-row horizontal-group">
  <button class="del outline" 
    hx-delete="{% url 'workouts:del_set' set.id %}" 
    hx-target="closest .set-row"
    hx-swap="outerHTML"> x </button>

  <div style="flex:4;">{{ set.reps }} reps</div> 
  <div>×</div>
  <div style="flex:4;">{{ set.weight }} lb</div>

  <button class="edit outline"
    hx-get="{% url 'workouts:edit_set' set.id %}" 
    hx-target="closest .set-row"
    hx-swap="outerHTML"> <i class="fa-solid fa-pen"></i> </button>
</div>

<style>
  .edit {
    border: 1px solid var(--pico-primary);
    color: var(--pico-primary);
    margin-bottom: 1rem;
    flex: 1;
  }

  .set-row > div {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
  }
</style>