<!-- display button for push/pull/legs/etc -->

<div class="horz_scroll"
    style="overflow-y: auto; width: 100%; flex: 5;">
        <div class="button-container">
        {% for workout_type in workout_types %}
        <button id="m_entry__btn" class="form_btn"
                style="background-color: {{workout_type.color}};"
                hx-post="{% url 'workouts:addw' workout_type.id %}"
                hx-trigger="click"
                hx-target="#workout_list__container"
                hx-swap="innerHTML swap:0.4s">
            {{workout_type.name}}
        </button>
        {% endfor %}
        <button id="m_entry__btn" class="add" style="margin: 2px; min-width:40px;"
                hx-get="{% url 'workouts:addt' %}"
                hx-trigger="click"
                hx-target="#lift_entry__container"
                hx-swap="innerHTML swap:0.4s">
            + 
        </button>
        <button id="m_entry__btn" class="back-btn"
                hx-get="{% url 'workouts:back'%}"
                hx-target="#lift_entry__container"
                hx-swap="outerHTML swap:0.4s"
                hx-trigger="click">
            CANCEL
        </button>
        </div>
</div>
