<dialog open>
<article>
    <header>
        <button rel="prev"
            hx-get="{% url 'workouts:clear' %}"
            hx-target="#modal-workout"
            hx-on:click="event.stopPropagation()"></button>
        <p>
            New Workout : Select Type
        </p>
    </header>
    <div class="horizontal-group">
    {% for workout_type in workout_types %}
        <button class="outline"
                style="
                    color: {{workout_type.color}};
                    border: 1px solid {{workout_type.color}};
                    "
                hx-post="{% url 'workouts:addw' workout_type.id %}"
                hx-trigger="click"
                hx-target="#workout-history"
                hx-swap="innerHTML swap:0.4s"
                hx-on:click="this.closest('dialog').removeAttribute('open')">
            {{workout_type.name}}
        </button>
    {% endfor %}
    </div>
</article>
</dialog>

        