<div id="workout-{{workout.id}}" class="workout" 
    style="background: linear-gradient(135deg,
          var(--pico-background-color) 85%,
          var(--pico-background-color) 85%,
          {{workout.workout_type.color}} 15%);"
      hx-trigger="click"
      hx-get="{% url 'workouts:get_workout' workout.id %}"
      hx-target="#inspected-workout">
     

  <div class="horizontal-group inline-workout">
    <div class="workout-name">{{workout.workout_type.name.upper}} </div>
    <div class="workout-total">{{workout.total_volume}} lbs</div>
    <div class="workout-date">{{workout.day.date|date:"m/d"}}</div>
  </div>

  <!-- Color patch -->
  <label id="color-patch-{{workout.id}}" class="color-patch" for="color-{{ workout.id }}">
    <i class="fa-solid fa-fill c-icon"></i>
  </label>
  <!-- Hidden color input -->
  <input 
    id="color-{{ workout.id }}"
    type="color" 
    name="color"
    value="{{ workout.workout_type.color }}"
    class="sr-only"
    hx-trigger="change"
    hx-target="#workout_list"
    hx-post="{% url 'workouts:change_color' %}"
    hx-vals='{"workout_id": "{{ workout.id }}"}'
    hx-swap="innerHTML"
  >
</div>
