<header style="position:relative;">
    <i class="fa-solid fa-dumbbell" style="margin-right:10px;"></i>
    Workout History
    <span style="position:absolute; right:1rem;">
        <div id="modal-workout"></div>
        <button data-tooltip="Add" data-placement="bottom" style="padding: 0 0.3rem;"
            hx-get="{% url 'workouts:wtype_entry' %}"
            hx-target="#modal-workout"
            hx-swap="innerHTML">
        <i class="fa-solid fa-plus"></i></button>
        <button data-tooltip="Weekly Sets" data-placement="bottom" style="padding: 0 0.3rem;"
            hx-get="{% url 'workouts:weekly_sets' %}"
            hx-target="#modal-workout">
        <i class="fa-solid fa-bars-progress"></i></button>
    </span>
</header>
<ul id="workout_list" class="overflow-auto"
    hx-get="{% url 'workouts:workouts' %}"
    hx-trigger="load">
</ul>