<!-- horizontal scroll of each lift done -->
{% if expanded %}
<div class="workout expanded" hx-on:click="this.classList.toggle('expanded')"
{% else %}
<div class="workout" hx-on:click="this.classList.toggle('expanded')"
{% endif %}
    style="--color: {{workout_type.color}};
	   background: linear-gradient(135deg, var(--fg) 85%, var(--fg) 85%,
           {{workout.workout_type.color}} 15%);">

  <div class="workout-header">
	<div class="workout-name">{{workout.workout_type.name.upper}} </div>
	<div class="workout-date">{{workout.day.date}}</div>
        <div id="total-{{workout.id}}" class="weight_totals"></div>
  </div>

  <!-- Color patch -->
  <label id="color-patch-{{workout.id}}" class="color-patch" for="color-{{ workout.id }}">
    <i class="fa-solid fa-fill c-icon"></i>
  </label>
  <!-- Hidden color input -->
  <input 
    id="color-{{ workout.id }}"
    type="color" 
    name="color"
    value="{{ workout.workout_type.color }}"
    class="sr-only"
    hx-trigger="change"
    hx-target="#workout_list__container"
    hx-post="{% url 'workouts:change_color' %}"
    hx-vals='{"workout_id": "{{ workout.id }}"}'
    hx-swap="innerHTML"
  >
  <div class="details">
    <div class="horz_scroll" style="overflow-x: auto; width: 100%;">
	<ul class="workout_list"
              hx-get="{% url 'workouts:listl' workout.id %}"
              hx-trigger="load once"
              hx-swap="innerHTML">
	</ul>
    </div>
    <div class="button-container" style="position:absolute;top:5px;right:10px;">
      <button class="delete-btn" style="font-size:12px;margin:2px; padding: 5px 10px;"
	hx-delete="{% url 'workouts:del_workout' workout.id %}" 
	hx-target="closest .workout" 
	hx-swap="outerHTML swap:0.3s">
	<i class="fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
  {% if workout.is_active %}
  {% include './end_workout.html' %}
  {% endif %}

</div>
