  <div class="button-container main-button">
      <button class="graph-btn left-btn"
	hx-get="{% url 'workouts:list' %}"
	hx-target="#workout_list__container"
        hx-swap="innerHTML swap:0.5s">
        WORKOUT LOG
      </button>
      <button class="graph-btn"
        hx-swap="innerHTML swap:0.5s">
        LIFT OVERVIEWS
      </button>
    </div>


  <!-- Add a button to sort workouts by type -->


    <div id="workout_list__container" class="cardstyle"
        hx-get="{% url 'workouts:list' %}"
        hx-trigger="revealed"
        hx-swap="innerHTML swap:0.4s">
        <!-- Content filled on load! -->
    </div>

  
{% include 'workouts/start_workout.html' %}

