#hidden-date {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 0;
}

#graph_head__container {
  background-color: var(--fg);
  flex: 1;
  display: flex;
  padding: 5px;
  border-radius: 8px 8px 0px 0px;
  z-index:2;
  position:relative;
}

.day { box-shadow: var(--item-shadow); }
rect:hover {
  transform: translateY(-2px);
} 

#info-container {
  flex: 4;
  margin: 10px 0px 10px 0px;
  border-radius: 0px 2px 2px 0px;
  background-color: var(--bg);
  z-index: 5;
}


#weight {
    user-select: none;
    cursor: pointer;
    margin: 0px 5px;
}

#weight input {
  border: none;
}

#bulletin {
	flex: 1;
	background-color: var(--bg);
	text-align: center;
	min-height: 50px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius:2px;
	overflow: visible;
	position: relative;
}

#bulletin-title {
	position: absolute;
	top: -10px;
	left: 5px;
	color: var(--accent);
	font-size: 0.8rem;
	text-shadow: 0px 3px 2px black;
}

.checkbox {
	width:15px;
	height:15px;
	border:1px solid white;
}

.checked .checkbox {
	border: none;
}
.checked .name {
	color: var(--Push);
}


.name {
font-size:0.8em;
margin-left:5px;
}

/*--- graphs ---*/

#secondary-buttons .blue_btn {
  margin: 0px 2px;
}

#graph_display__container {
  flex:1;
    overflow:visible;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#graph-controls{
  flex: 5;
  display: flex;
  width:100%;
  margin-bottom: -20px;
}
#time-buttons{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: auto;
  max-height: 250px;
}
#graph-container{flex: 3;}

#trend-buttons{ flex:1;display: flex; width:100%;}
#summary-stats{ 
  flex: 8;
  background-color: var(--bg);
  width:100%;
  border-radius:4px;
  position:relative;
  display: flex;
}
#summary-label {
  display:none;
  position: absolute;
  top: -10px;
  left: 10px;
  color: var(--accent);
  font-size:0.8rem;
  text-shadow: 0px 3px 2px black;
  z-index: 1;
}
.statistic {
  text-align:center;
  color:var(--main);
  background-color: var(--fg);
  margin: 5px 5px 5px 0px;
  position: relative;
}
.goal-statistic {
  background-color: var(--button-main-bg);
  margin: 5px 0px 5px 5px;
}

.cardstyle {
  flex-grow: 1;
  box-shadow: var(--inset-shadow);
  background-color: var(--bg);
  border-radius: 2px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.small {
  color:var(--accent);
  font-size: 1rem;
  }

#simple {
  flex:1;
  display: flex;
}
#simple .statistic {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
} #simple .stat-label {
  font-size:1rem;
  left: revert;
  top: -5px;
}

.stat-label {
  position:absolute;
  left:5px;
  font-size:0.8rem;
  color:var(--outline);
}

/* === calendars === */ 

#day-container {
    display:flex;
    flex-direction: column;
}
#d3-calendar {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} #calendar-container { display: flex; }

#calendar-container, #day-info {
  flex:6;
  width:100%;
  margin: 5px;
  border-radius: 4px;
}
#day-info {
  background-color: var(--fg);
  padding: 0.5em;
}

#day-container > div {
display: flex;
  flex: 1;
  margin: 5px;
  gap: 0.5em;
}

.accent-text { color: var(--accent); }
