

#date-container {
  flex: 5;
  gap: 0.5rem;
  background: var(--fg);
  border-radius: 2px;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0, 0.3);
  font-size: 2.7rem;
  z-index: 10;
}

#date-container:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 4px 4px rgba(0,0,0, 0.3);
  transition: all 0.3s ease-in-out;
}

#hidden-date {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 0;
}

#graph_head__container {
  flex: 1;
  display: flex;
}

#info-container {
  flex: 4;
  margin: 10px 0px 10px 0px;
  border-radius: 0px 2px 2px 0px;
  background-color: var(--fg);
  z-index: 5;
  box-shadow: 3px 0px 6px 0px #0d0d0f;
}


#weight {
    user-select: none;
    flex: 1;
    margin: 5px;
    text-align: center;
    font-size: 2rem;
}

#weight input {
  border: none;
}

#bulletin {
	flex: 1;
	background-color: var(--fg);
	text-align: center;
	min-height: 50px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius:2px;
	overflow: visible;
	position: relative;
}

#bulletin-title {
	position: absolute;
	top: -10px;
	left: 5px;
	color: var(--blue);
	font-size: 0.8rem;
	text-shadow: 0px 3px 2px black;
}

.task {
	flex:1;
	display:flex;
	align-items: center;
	justify-content:center;

}

.checkbox {
	width:15px;
	height:15px;
	border:1px solid white;
}

.checked .checkbox {
	border: none;
}
.checked .name {
	color: var(--Push);
}


.name {
font-size:0.8em;
margin-left:5px;
}

/*--- graphs ---*/

#secondary-buttons .blue_btn {
  margin: 0px 2px;
}

#graph_display__container {
    overflow:visible;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#graph-controls{
  flex: 4;
  display: flex;
  width:100%;
  padding: 10px 10px 0px 10px;
  margin-bottom: -20px;
}
#time-buttons{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left:5px;
}
#time-buttons .blue_btn {
  margin: 15px 0px 15px 0px;
}
#graph-container{flex: 3;}

#trend-buttons{  margin-top:1rem;flex:1;display: flex; width:95%;}
#summary-stats{ 
  flex: 5;
  background-color: var(--bg);
  width:95%;
  margin:10px;
  border-radius:4px;
  position:relative;
  padding: 10px;
  display: flex;
}
#summary-label {
  position: absolute;
  top: -8px;
  left: 10px;
  color: var(--blue);
  font-size:0.8rem;
  text-shadow: 0px 3px 2px black;
}
.statistic {
  text-align:center;
  color:var(--yellow);
  background-color: var(--fg);
  margin: 5px 5px 5px 0px;
  position: relative;
}
.goal-statistic {
  background-color: var(--button-yellow-bg);
  margin: 5px 0px 5px 5px;
}

#day-container {
    display:flex;
    flex-direction: column;
}

#d3-calendar {}
svg {padding: 1px;}

.cardstyle {
  flex-grow: 1;
  box-shadow: var(--inset-shadow);
  background-color: var(--fg);
  border-radius: 2px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small {
  color:var(--blue);
  font-size: 1rem;
  }

#simple {
  flex:1;
  display: flex;
}
#simple .statistic {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
} #simple .stat-label {
  font-size:1rem;
  left: revert;
  top: -5px;
}

.stat-label {
  position:absolute;
  left:5px;
  font-size:0.8rem;
  color:var(--white);
}
