
#lift_head__container {
  width: 100%;
  height: 100%;
  background-color: var(--fg);
  margin: 15px 0px 15px 5px;
	display:flex;
}

#lift_entry__container {
  display: flex;
  background-color: var(--bg);
  flex-direction: column;
  margin: 0px;
  padding: 10px;
}

/* === Active Workout === */

#active-workout {
	height: 100%;
	width: auto;
	padding: 5px 10px;
	user-select: none;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	background-color: var(--bg);
	margin: 10px;
}

#active-workout label, #active-workout form {
	background-color: var(--fg);
}
#active-workout #lift_entry__container {
	background-color: var(--fg);
	margin: 10px;
	border-radius: 2px;
}

.workout_list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    list-style: none;
}

.list-container{
  flex: 1;
  display: flex;
  justify-content: center;
}

.list-container *{
  flex-grow: 1;
  margin: 5px;
}

#lift_list {
  flex: 1;
  display: flex;
  overflow-x: auto;
	padding: 10px;
}

#lift_list * {
 margin: 0px 5px;
}


#set-list {
  overflow-y: auto;
  height: 100%;
}

.set-row {
	margin: 10px 0px;
	display: flex;
	text-align:center;
}

#rest-display {
	text-align: center;
}


/* === Lift display === */

.lift {
    min-width: 110px;
    min-height: 100px;
    background-color: #05050557;
    padding: 5px;
    position: relative;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
}

.lift_main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lift_name {
  color: var(--yellow);
  background-color: rgba(5,5,5,0.5);
  margin: 5px;
  padding: 2px;
  border-radius: 2px;
}
.lift_weight { flex: 2; font-size: medium; }
.lift_set {
  background-color: rgba(10,10,10,0.5);
  border-radius: 2px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 2rem;
}
.lift_reps,
.lift_weight{
    flex: 1;
    text-align: center;
}

.lift:hover {
    transform: translateY(-2px);
    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 1);
    transition: all 0.1s ease-in-out;
}

.lift-expanded {
  background-color: var(--fg);
  border-radius: 2px;
  margin: 5px;
  box-shadow: var(--item-shadow);
  height: 250px;
  display: flex;
  position: relative;
}
.lift_set_list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  gap: 0.2em;
  margin: 5px;
}

.lift-chart {
  background-color: rgba(10,10,10,0.5);
  margin: 5px;
  margin-top:-5px;
  padding: 2px;
  border-radius: 0px 0px 2px 2px;
}

/* === Workout History === */

.workout {
    position: relative;
    display: flex;  /* Make the list item a flex container */
    flex-direction: column;
    padding: 5px 10px;
    list-style: none;
    margin: 5px;
    box-shadow: var(--item-shadow);
    background-color: var(--fg); 
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
}

.workout-header {
  display: flex;
  align-items: center;
}
.workout-date {
  margin-left: 20px;
  font-size: 1rem;
  color: var(--blue);
  background: var(--button-blue-hover);
  border-radius: 10px;
  padding: 4px 10px;
}

.weight_totals {
  margin-left: 20px;
  font-size: 1rem;
  color: var(--yellow);
  background: var(--button-yellow-hover);
  border-radius: 10px;
  padding: 4px 10px;

}

.workout .details {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition:
        max-height 0.4s ease,
        padding 0.3s ease,
        opacity 0.3s ease;
}

.workout.expanded .details {
    max-height: 200px; /* set this to your known height */
    opacity: 1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.workout .details .button-container {display:none;}
.workout.expanded .details .button-container {display: flex;}

.workout:hover {
    transform: translateY(-2px);
    box-shadow: var(--item-shadow-hover);
    transition: all 0.1s ease-in-out;
}

.workout.expanded:hover {
  transform: none;
  box-shadow: var(--item-shadow);
}


/* === Color Picker === */
.color-patch {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: var(--color);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  cursor: pointer;
}

.c-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    color: black;
}

.color-patch i {
    display: none;
}

.color-patch:hover i {
    display: inline-block;
}

