    <div class="modal-content">
        <h1>Welcome to Self Stats</h1>
        <h2>Complete Data Driven Dashboard for Survival</h2>
	<div class="button-container" style="flex-direction: column;">
        <button class="form_btn"
           hx-get="{% url 'core:login' %}"
           hx-target="#modal-target"
           hx-swap="innerHTML swap:0.4s">Log In</a>
        <button class="form_btn"
           hx-get="{% url 'core:signup' %}"
           hx-target="#modal-target"
           hx-swap="innerHTML swap:0.4s">Sign Up</a>
	</div>
    </div>
