{% extends "./default.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/styles.css' %}">
{% endblock %}

{% block main_content %}

{% if not user.is_authenticated %}
<div id="auth-modal"
     class="modal-overlay"
    >
<div id="modal-target" class="modal"
     hx-get="{% url 'core:auth_modal' %}"
     hx-trigger="load"
     hx-swap="innerHTML">
    <!-- Modal content loaded via HTMX -->
</div>
</div>
{% else %}
<div class="main-wrapper">
	{% include 'core/nav.html' %}
    <script src="{% static 'core/js/global_date_state.js' %}"></script>
    <main id="content">
	{% include 'core/dashboard.html' %}
    </main>
</div>
{% endif %}

{% endblock %}
