{% extends "./default.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'calcounter/styles.css' %}">
    <link rel="stylesheet" href="{% static 'workouts/styles.css' %}">
    <link rel="stylesheet" href="{% static 'graphs/styles.css' %}">
{% endblock %}

{% block main_content %}

{% if not user.is_authenticated %}
<div id="auth-modal"
     class="modal-overlay"
     hx-get="{% url 'core:auth_modal' %}"
     hx-trigger="load"
     hx-target="#auth-modal"
     hx-swap="innerHTML">
    <!-- Modal content loaded via HTMX -->
</div>
{% else %}
    {% include './column_lift.html' %}
    {% include './column_graph.html' %}
    {% include './column_meal.html' %}
{% endif %}

<script src="{% static 'calcounter/js/meal_entry_button.js' %}"></script>
<script src="{% static 'calcounter/js/global_date_state.js' %}"></script>
<script src="{% static 'graphs/js/bw-time.js' %}"></script>
<script src="{% static 'workouts/js/rest_timer.js' %}"></script>
{% endblock %}
