{% load static %}
<section id="graph_display" class="s_list"> 


    <div class="button-container main-button">
      <button class="graph-btn left-btn"
        hx-get="{% url 'graphs:calendar_area' %}"
        hx-trigger="click"
        hx-target="#graph_display__container"
        hx-swap="innerHTML swap:0.5s">
        CALENDAR
      </button>
      <button class="graph-btn"
        hx-get="{% url 'graphs:trend_area' %}"
        hx-trigger="click"
        hx-target="#graph_display__container"
        hx-swap="innerHTML swap:0.5s">
        TRENDS
      </button>
    </div>


    <div id="graph_display__container"  class="cardstyle"
        hx-get="{% url 'graphs:calendar_area' %}"
        hx-trigger="load"
        hx-swap="innerHTML swap:0.5s">
    </div>


    {% include 'core/profile_hud.html' %}
</section>
