{% load static %}
<section id="meal_list" class="m_list">


  <div class="button-container main-button">
      <button class="graph-btn left-btn"
        hx-get="{% url 'calcounter:get_m' %}" 
	hx-trigger="click"
        hx-target="#change"
        hx-swap="innerHTML swap:0.5s">
        MEAL LOG
      </button>
      <button class="graph-btn"
	hx-target="#change"
	hx-get="{% url 'calcounter:get_f' %}"
        hx-swap="innerHTML swap:0.5s">
        RECIPE BOOK
      </button>
    </div>

<div id="change" style="height:100%;display:flex;flex-direction:column;">
	{% include 'calcounter/meal_area.html' %}
</div>
</section>
