{% load static %}
<section id="graph_head" class="s_head" style="text-align:center;">
    <div id="graph_head__container">
      <div id="profile" class="profile-pic-container">
		{% include 'core/profile_nav.html' %}
      </div>
      <div id="date-container">
        <span id="current-date"></span>
        <input type="date" id="hidden-date" name="date" value="today">
      </div>
      <div id="info-container">
         <div id="weight"
            hx-get="{% url 'core:get_bw' %}"
            hx-trigger="load, change from:#hidden-date"
            hx-swap="innerHTML swap:0.5s"
            hx-swap-oob="True" >
        </div>
      </div>
    </div>
</section>
<section id="graph_display" class="s_list"> 
    <div class="button-container" style="margin: 20px 20px -10px 20px;">
      <button class="graph-btn"
        hx-get="{% url 'graphs:calendar' %}"
        hx-trigger="click"
        hx-target="#graph_display__container"
        hx-swap="innerHTML swap:0.5s">
        CALENDAR
      </button>
      <button class="graph-btn"
        hx-get="{% url 'graphs:trend_area' %}"
        hx-trigger="click"
        hx-target="#graph_display__container"
        hx-swap="innerHTML swap:0.5s">
        TRENDS
      </button>
    </div>


    <div id="graph_display__container"  class="cardstyle">
    </div>

</section>


<!-- <section id="graph_entry"class="s_entry"> 
    <div id="graph_entry__container">
    </div>
</section> -->
