{% load static %}
<section id="graph_head" class="s_head" style="text-align:center;">
    <div id="graph_head__container">
      <div class="profile-pic-container">
        <div class="profile-pic"></div>
        <span id="username">{{ user.username }}</span>
      </div>
      <div id="date-container">
        <span id="current-date"></span>
        <input type="date" id="hidden-date" name="date" value="today">
      </div>
      <div id="info-container">
         <div id="weight"
            hx-get="{% url 'core:get_bw' %}"
            hx-trigger="load, change from:#hidden-date"
            hx-swap="innerHTML swap:0.5s"
            hx-swap-oob="True" >
        </div>
      </div>
    </div>
</section>
<section id="graph_display" class="s_list"> 
    <div style="text-align: center; min-height: 50px; margin-top:5px;margin-bottom:-5px;">
		model xp here
    </div>
    <div id="graph_display__container">

      <!-- to be filled by button -->

    </div>
    <div class="button-container">
      <button class="form_btn"
        style="background-color: var(--yellow);"
        hx-get="{% url 'graphs:calendar' %}"
        hx-trigger="click"
        hx-target="#graph_display__container"
        hx-swap="innerHTML swap:0.5s">
        Heatmap
      </button>
      <button class="form_btn"
        style="background-color: var(--yellow);"
        hx-get="{% url 'graphs:bw' %}"
        hx-trigger="click"
        hx-target="#graph_display__container"
        hx-swap="innerHTML swap:0.5s">
        BW / TIME
      </button>
    </div>
</section>
<!-- <section id="graph_entry"class="s_entry"> 
    <div id="graph_entry__container">
    </div>
</section> -->
