  <div id="highlights" class="horizontal-group">
	<article id="streak-highlight"
	  hx-get="{% url 'core:curr_streak' %}"
	  hx-trigger="load">
	</article>
	<article id="bodyweight-highlight">
	  <header><i class="fa-solid fa-arrow-trend-up"></i>Bodyweight</header>
	  <div id="bw-info">
	    <i class="fa-solid fa-caret-up"></i>
	    <span class="big-font">157.2</span>
	    lbs
	  </div>
	</article>
	<article id="macro-highlight"
		hx-get="{% url 'core:macro-goal'%}"
		hx-trigger="load">
	</article>
	<article id="workout-highlight">
	  <header style="margin-bottom: 0;"><i class="fa-solid fa-crosshairs"></i>Workout</header>
	  <div id="workout-info">
		today's workout:
		<div><span class="big-font">GLUTE-HAM</span></div>
	  </div>
	</article>
  </div>



  <div class="horizontal-group">
    <article id="graph-area" class="container"
	hx-get="{% url 'graphs:bw' %}"
	hx-trigger="load"
	hx-swap="innerHTML swap:0.5s">
    </article>


    <div id="day-area">
  	<article id="calendar-container">
	  <header><nav>
	    <ul><li><button id="prev" class="outline">« Prev Week</button></li></ul>
	    <ul><li><strong id="current-range">Range</strong></li></ul>
	    <ul><li><button id="next" class="outline">Next Week »</button></li></ul>
	  </nav></header>
  	  <div hx-get="{% url 'graphs:calendar' %}" hx-trigger="load"></div>
  	</article>
  	<article id="day-container"
		hx-get="{% url 'core:today'%}"
		hx-trigger="load">
  	</article>
    </div>
  </div>
