<div class="horizontal-group dashboard-columns">
  <div id="day-area">
  	<article id="calendar-container">
	  <header><nav>
	    <ul><li style="padding:0;"><button id="prev" class="outline" style="font-size:small;">« Prev Week</button></li></ul>
	    <ul><li style="padding:0;"><strong id="current-range">Range</strong></li></ul>
	    <ul><li style="padding:0;"><button id="next" class="outline" style="font-size:small;">Next Week »</button></li></ul>
	  </nav></header>
  	  <div hx-get="{% url 'graphs:calendar' %}" hx-trigger="load"></div>
  	</article>

  	<article id="day-container" class="vertical-group">
  	</article>
	<script>
	(function() {
		const date_container = document.getElementById('hidden-date');
		const date = date_container.value;
		console.log(date);
        htmx.ajax('GET', `/day/${date}`, { target: '#day-container' });
	})();
	</script>
  </div>
  <article id="graph-area">
	<header style="position:relative;">
		<i class="fa-solid fa-chart-line"></i>
		Analytics

		<span style="position:absolute; right:1rem;">
			<button style="padding:0 0.3rem;">
				<i class="fa-solid fa-chart-column"></i></button>
		</span>
	</header>
	<div class="bw-graph-container" style="flex:1;"
	hx-get="{% url 'graphs:bw' %}"
	hx-trigger="load"
	hx-swap="innerHTML swap:0.5s">
	</div>

	<div class="cals-graph-container" style="flex:1;"
		hx-get="{% url 'graphs:cals' %}"
		hx-trigger="load"
		hx-swap="innerHTML swap:0.5s">

	</div>
  </article>
</div>
