<header class="day-header">
  <div id="day-weight" class="day-header-item" hx-get="{% url 'core:get_bw' %}" hx-trigger="load" hx-swap="outerHTML">
  </div>

  <div id="water-input" hx-get="{% url 'core:get_water' %}?selected_date={{ day.date|date:'Y-m-d' }}" hx-trigger="load"
    class="day-header-item" hx-swap="outerHTML"></div>
  <div id="sleep-input" hx-get="{% url 'core:get_sleep' %}?selected_date={{ day.date|date:'Y-m-d' }}" hx-trigger="load"
    class="day-header-item" hx-swap="outerHTML"></div>
  <span class="day-card-flip">
    <button type="button" style="padding: 0 0.3rem; margin-bottom: 0">
      <i class="fa-solid fa-rotate"></i>
    </button>
  </span>
</header>

<div class="nutrient-overview" style="flex: 4; align-items: stretch;  min-width: 0;">
  <!-- Unified D3 Radial Chart -->
  <div id="all-nutrients-chart" style="flex: 2.5; display: flex; position: relative; min-width: 0; min-height: 0; "
    hx-get="{% url 'graphs:nutrient-overview' %}" hx-trigger="load, dayUpdated from:body">
  </div>

  <!-- Numerical Goals Placeholder & Inputs -->
  <div id="goals-placeholder" class="vertical-group">

    <h3 style="color: var(--pico-muted-color); text-align: center; margin-top: 0;margin-bottom: 0;">Daily Goals</h3>

    <div class="goal-section" style="flex: 1;">
      <div id="goals-table-container" style="overflow-y: auto; flex: 2;">
        <!-- Filled dynamically by all-nutrients.html chart render -->
      </div>

      <!-- Inputs for Sleep and Water -->
    </div>
  </div>
</div>

<script>
  (function () {
    // Dispatch dayUpdated when sleep or water is updated so charts refresh
    document.body.addEventListener('htmx:afterSwap', function (ev) {
      if (ev.detail.target.id === 'sleep-input' || ev.detail.target.id === 'water-input') {
        document.body.dispatchEvent(new CustomEvent('dayUpdated'));
      }
    });
  })();
</script>