<div id="hud-info">
  <div id="username-chip"class="main-chip"
       hx-get="{% url 'core:profile' %}"
       hx-trigger="click"
       hx-target="#profile">
    <span id="username">{{user.username}}</span>
  </div>
    {% if edit %}
    <span id="editing-date" class="fade-in">VIEWING:
     <span style="color: var(--accent);">{{editing_date}} </span>
    </span>
    {% else %}
    <span id="editing-date"></span>
    {% endif %}
  <div id="date-nav" class="main-chip">
    {{date}}
  </div>
  <div id="bw-chip" class="main-chip">
      {{ bw }}
  </div>
  <div id="nav-streak" class="main-chip">
    <i class="fa-solid fa-fire-flame-curved"></i>
      4
  </div>

</div>
<div id="swap-button" class="main-chip"
    hx-get="{% url 'core:tasks' %}"
    hx-trigger="click"
    hx-swap="innerHTML swap:0.5s"
    hx-target="#top-hud">
  <i class="fa-solid fa-repeat"></i>
</div>
