<!-- core/templates/core/login.html -->
    <div id="back-btn" style="margin-top: -10px; width: 50px;"
        hx-get="{% url 'core:auth_modal' %}" 
        hx-target="#modal-target"
        hx-swap="outerHTML swap:0.5s"
        hx-trigger="click"> 
        <i class="fa-solid fa-left-long"></i>
    </div>

<form hx-post="{% url 'core:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log in</button>
</form>
    <p>Don't have an account? 
        <a href="{% url 'core:signup' %}"
            hx-get="{% url 'core:signup' %}"
            hx-target="#modal-target">Sign up</a>
    </p>