<div class="personal-right">

<div id="theme-switcher">
  <button class="btn" data-theme="dark">Default</button>
  <button class="btn" data-theme="light">☀️ Light</button>
  <button class="btn" data-theme="midnight">🌌 Midnight</button>
  <button class="btn" data-theme="dracula">Dracula</button>
  <button class="btn" data-theme="nord">Nord</button>
  <button class="btn" data-theme="gruvbox-dark">Gruvbox</button>
  <button class="btn" data-theme="catppuccin-mocha">Mocha</button>
  <button class="btn" data-theme="github-dark">Github</button>
</div>
<div id="custom-theme">

</div>
</div>
