body {
    font-family: 'Oswald';
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

aside li {
  align-items: center;
  justify-self: center;
}

main { flex: 1; }

.main-wrapper {
  display: flex;
  flex-direction: row;
}


.sidebar {
  height: 100vh;
  width: 70px;
  border-right: 1px solid var(--pico-muted-border-color);
  background: var(--muted-color);
  padding: var(--spacing);
}

.settings-group {
  position: absolute;
  bottom: 10px;
  left: 11px;
}
.pfp-group {
  padding-left: 10px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--pico-primary-border);
}
.username {
  width: 70px;
  font-size: 0.7rem;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
}

#content { padding: 1rem; }
.horizontal-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.horizontal-group > article {
  flex: 1;
  height: 20vh;
}


#graph-container {flex: 1;}
#graph-area,
#day-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 74vh;
  max-height: 74vh;
  overflow: hidden;
  padding-bottom: 0;
}

#day-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#day-area > article {margin-bottom: revert;}
#calendar-container { flex: 1; }
#day-container { flex: 2; }

#calendar-selector {
  text-align: end;
  padding: 0.3rem;
}
#calendar-selector > button {
  padding: 0.2rem 0.7rem;
  font-size: 0.7rem;
  margin-right: 0.3rem;
}

#workout-info,
#macro-info,
#bw-info, #streak-info {text-align: center;}
.big-font { font-size: 2.5rem; }
.med-font { font-size: 1.7rem; }
.fa-fire-flame-curved { color: orange; margin-right: 0.3rem; }
.fa-caret-up { color: #00A66E; }


.fa-weight-scale,
.fa-calendar-day {
  color: var(--pico-primary);
}

.fa-arrow-trend-up,
.fa-crosshairs,
.fa-chart-simple,
.fa-weight-scale,
.fa-calendar-day,
.fa-bulleye {
  margin-right: 10px;
}

.summary {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

#time-buttons {
  padding: 0px 1rem;
}
.vertical-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.main-chip {
  background-color: var(--pico-background-color);
  border-radius: var(--pico-border-radius);
  border: 1px solid #FCEFD9;
  flex:1;
  text-align:center;
}
.macro-label{
  position: absolute;
  top: -23px;
  left: 8px;
  font-size: 0.7rem;
}

#day-macros,
#day-tasks {
 height: 100%;
}
.main-chip { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-area,
.input-area { flex: 1; display: flex; }

#recipe-area { height: 96vh; }

.big { flex: 4; }

#workout-history {
  flex: 1;
  height: 96vh;
}

#inspected-workout {
  flex: 1;
}
#lifts-overview {
  flex: 2;
}


#today_values,
#meal_plan,
#progress_track {
  background-color: var(--pico-card-sectioning-background-color);
}
#progress_track { height: 10vh; }

#day-macros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#bw_entry_form {
  height: 5vh;
  margin: 0;
}
#bw_entry_form input {
  height: 5vh;
  line-height: 0;
}

#recipe-area,
#meal-log,
#pantry-log {
  padding: var(--pico-spacing);
}
#search-results { max-height: 60vh; }

#food-list { padding: 0; }
.food {
  padding: 0.5rem;
  border-radius: var(--pico-border-radius);
  list-style-type: none;
  border: 1px solid var(--pico-primary);
}
.food:hover {
  transform: translateY(-3px);
  box-shadow: -3px 3px 0px 0px #0d0d0f;
  transition: all 0.3s ease;
}

.hidden { display: none; }










/* === Remove Scrollbars === */

/* For WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
* {
    scrollbar-width: none;
}

/* For Internet Explorer and Edge */
* {
    -ms-overflow-style: none;
}
