* {
    box-sizing: border-box; 
    font-family: 'Oswald';
}

:root {
/*    --bg: #0D0D0F; */
/*    --fg: #1A1B1E; */
--bg: #252527; 
/*    --fg: #3d3d3f;  */
    --white: #f5f5f5;
    --text: #f5f5f5;
--fg: #1a1a1f;

/* 0%, 10%, 20% tints */
	/* --bg-dark: #0D0D0F; 	*/
	/* --bg: #252527; 	*/
	/* --bg-light: #3d3d3f; */

/* Monochromatic Woodsmoke */
/*	--bg-dark: #0D0D0F;	*/
/*	--bg: #575764;		*/
/*	--bg-light: #a0a0b9;	*/

/* accent colors */
    --yellow: #FFC83D;
    --blue: #37B8FF;

  --blue-chip-bg: #182d38;
  --yellow-chip-bg: #2a2312;

/* shadows */
	--item-shadow: -3px 3px 0px 0px #0d0d0f;
	--item-shadow-hover: -5px 5px 0px 0px #0d0d0f;
	--inset-shadow: 0px 0px 6px 2px #0d0d0f inset;

/* Button colors */
    --button: #72b983;
    --button-bg: #1d2322;
    --button-hover: #207948;

    --button-back: #cb0014;
    --button-back-bg: #231f1f;
    --button-back-hover: #632e2e;

    --button-yellow:#FFC83D; 
    --button-yellow-bg:#23211a; 
    --button-yellow-hover:#63532b; 

    --button-blue:#37B8FF; 
    --button-blue-bg:#1e2021; 
    --button-blue-hover:#567484; 

/* Workout types coloring */
    --Push: #79ca85;
    --Pull: #bc311c;
    --Legs: #1c39bc;
    --lift: #050505;
}
/* Dark theme */
[data-theme="dark"] {
  --fg: #f5f5f5;
  --bg: #121212;
  --main: #5b8aff;
  --accent: #ff884d;
  --text: #101010;
}

/* Custom theme */
[data-theme="midnight"] {
  --fg: #d7e1ff;
  --bg: #0a0a1f;
  --main: #6c63ff;
  --accent: #ff6584;
  --text: #232327;
}


h1 {
  color: var(--yellow);
  text-align: center;
  font-size: 2rem;
  text-shadow: 0px 5px 5px #0d0d0f;
}

body {
    font-family: 'Oswald';
    font-size:1.5rem;
    background-color: var(--bg);
    color: var(--text);

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 5px;
    padding-bottom: 10px;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "w_head s_head m_head"
        "w_list s_list m_list";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 85px 1fr;


    align-items: center; 
    justify-items: center;
}


/* === Grid Areas ===*/

.w_list {grid-area: w_list;}
.s_list {grid-area: s_list;}
.m_list {grid-area: m_list;}
.w_head {grid-area: w_head;}
.s_head {grid-area: s_head;}
.m_head {grid-area: m_head;}

#lift_head,
#graph_head,
#meal_head,
#meal_entry,
#lift_entry,
#graph_entry {
    min-height:0;
    flex-grow:0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
  margin-top: 10px;
}

#meal_entry__container,
#lift_entry__container,
#graph_entry__container {
    margin: 10px;
}

#bw_entry_form,
#t_entry_form,
#l_entry_form,
#m_entry_form {
    background-color: var(--fg);
    padding: 10px;
    display: flex;
    flex-direction: column;
  box-shadow: var(--item-shadow);
}

/* --- List Areas --- */

ul {
    margin:0px;
    padding:5px;
}

#meal_list, #workout_list, #graph_display {
    background-color: var(--bg);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;       /* Prevent content from escaping */
}

#meal_list__container, #workout_list__container, #graph_display__container {
    flex-grow: 1;        /* Takes up remaining space */
    overflow-y: auto;    /* Enables scrolling when content exceeds height */
    margin: 0;
    max-height: 100%;    /* Ensures it doesn't grow beyond the parent */
    position: relative;
}



/* === Navbar === */

#username {
  font-size: 20px;
  padding-left:5px;
}

.profile-pic-container {
    flex: 4;
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    border-radius: 2px 0px 0px 2px;
  background-color: var(--fg);
  z-index: 5;
  box-shadow: -3px 0px 6px 0px #0d0d0f;
}

.profile-pic {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--yellow);
}

.profile-pic-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--yellow);
}


/** -- profile -- **/

.signup {
  margin: 1rem;
  min-height:200px;
  display:flex;
}

/* === Floating Labels === */

.input_container {
    position: relative;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--white);
    background: transparent;
    outline: none;
    color: white;
}

.input_container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--white);
    background: transparent;
    outline: none;
    color: white;
}

.input_container label {
    position: absolute;
    top: 50%;
    left: 10px;
    background-color: var(--fg);
    transform: translateY(-50%);
    padding: 0 5px;
    transition: 0.3s;
    pointer-events: none;
}

.input:focus + label,
.input:not(:placeholder-shown) + label,
input:focus + label,
input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: var(--blue);
}

/* Remove number input spinners for all inputs */
/* For WebKit browsers (Chrome, Edge, Safari, etc.) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Double tapping doesn't highlight text */
button {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Standard */
}


/* === Button Styling === */




.button-container {
    display: flex;
    flex-direction: row;
}


.right-crud-buttons {
  position:absolute;
  top:5px;
  right:10px;
} .right-crud-buttons * { border-radius: 2px; }
.left-crud-buttons {
  position:absolute;
  top:8px;
  left:10px;
} .left-crud-buttons * { border-radius: 2px; }


.btn {
    background-color: var(--bg);
    border: 0;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    margin: 2px;
    flex: 1;
    transition: all 0.3s ease-in-out;
}

.add {
    background-color: #10101075;
        min-width: 122px;
        color: white;
        opacity: 0.6;
        border: 1px dashed white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 24px;
    margin: 0;
    flex: 1;
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}

.yellow_btn {
    background-color: var(--button-yellow-bg);
    color: var(--button-yellow);
    border: 1px solid var(--button-yellow);
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    margin: 2px;
    flex: 1;
    transition: all 0.3s ease-in-out;
}

.profile-btn {
    background-color: #121216;
  color: white;
  border: 0px;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    flex: 1;
    transition: all 0.3s ease-in-out;
} .profile-btn:hover {
    background-color: var(--button-blue-hover);
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}

.light:hover {
    background-color: var(--white);
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}

.dark:hover {
    background-color: var(--fg);
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}

.blue_btn {
    background-color: var(--button-blue-bg);
    color: var(--button-blue);
    border: 1px solid var(--button-blue);
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin: 2px;
    flex: 1;
    transition: all 0.3s ease-in-out;
}
.back-btn, .delete-btn  {
    background-color: var(--button-back-bg);
    border: 1px solid var(--button-back);
    color: var(--button-back);
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    margin: 2px;
    flex: 1;
    transition: all 0.3s ease-in-out;
}

.form_btn {
    background-color: var(--button-bg);
    color: var(--button);
    border: 1px solid var(--button);
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    margin: 2px;
    flex: 1;
    transition: all 0.3s ease-in-out;
}

.form_btn:active, .meal:active, .workout:active, .add:active {
  transform: translateY(2px) translateX(-1px);
  box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.05s ease-out;
}

.form_btn:hover {
    background-color: var(--button-hover);
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}
.add:hover {
    background-color: var(--fg);
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}
.yellow_btn:hover {
    background-color: var(--button-yellow-hover);
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}
.blue_btn:hover {
    background-color: var(--button-blue-hover);
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}


.delete-btn:hover, .back-btn:hover {
    background-color: var(--button-back-hover);
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}


.btn:hover {
    background-color: var(--fg);
    box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.5);
    transform: translateY(-2px);
}


/* === Modal Overlay === */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
    click: none;
}

#profile-container {
  display: flex;
  height:100%;

}
#profile-list {
  flex:1;
  display: flex;
  flex-direction: column;
  padding: 0;
}
#profile-list .profile-item {
  flex:1;
  list-style: none;
  box-shadow: var(--inset-shadow);
  font-size: 2rem;
}
.profile-item:hover {
    transform: translateY(-2px);
    box-shadow: var(--item-shadow-hover);
    transition: all 0.1s ease-in-out;
}

#profile-main {
  flex:3;
  display:flex;
}

.personal-left, .personal-right {
  flex:1;
  display:flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--fg);
  border-radius: 4px;
  align-items: center;
}

/*** WARNING: From here on out is pretty much vibecoded (profile screen) ***/
/* === Modal Box === */
.modal {
    background-color: var(--bg);
    width: 50%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    animation: slideUp 0.3s ease-in-out;

}

.modal-content {
  padding: 1rem;
  
}

/* === Modal Content === */
.modal-content h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.modal-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.modal-content .button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.modal-content .button:hover {
    background-color: #45a049;
}

/* === Close Button (optional) === */
.modal-content .close-btn {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #777;
    cursor: pointer;
    font-size: 0.9rem;
}

/* === Animations === */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* -------------- HTMX Animations ------------- */

/* Element that is being swapped OUT */
.htmx-swapping {
  opacity: 0;
  transform: scale(0.95);
/*  transition: all 0.2s ease; */
  transition: all 2s ease; /* slower for testing */
  outline: 2px solid red;  /* visualize the old element */
}

/* New element being swapped IN */
.htmx-added {
  opacity: 1;
  transform: scale(1);
/*  transition: all 0.2s ease; */
  transition: all 2s ease; /* slower for testing */
  outline: 2px solid blue;  /* visualize the new element */
}

.htmx-settling {
  opacity: 1;
  transform: translateY(0), scale(0);
/*  transition: all 0.3s ease; */
  transition: all 2s ease; /* slower for testing */
  outline: 2px solid green;  /* visualize the new element */
}

.fade-in {
  opacity: 0;
  transform: scale(0.98);
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* For WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
* {
    scrollbar-width: none;
}

/* For Internet Explorer and Edge */
* {
    -ms-overflow-style: none;
}
