<header style="position: relative;"> 
  <span id="pantry-title"><i class="fa-solid fa-jar"></i>Pantry</span>

<span class="header-buttons" style="position: absolute; right: 1rem;">
  <div id="unit-target"></div>
  <button data-tooltip="In Stock" data-placement="bottom" style="padding: 0 0.3rem;"
    hx-get="{% url 'calcounter:list_f' 'in_stock' %}"
    hx-target="#pantry-log"><i class="fa-solid fa-basket-shopping"></i></button>
  <button data-tooltip="Complex" data-placement="bottom" style="padding: 0 0.3rem;"
    hx-get="{% url 'calcounter:list_f' 'complex' %}"
    hx-target="#pantry-log"><i class="fa-solid fa-cubes"></i></button>
  <button data-tooltip="Simple" data-placement="bottom" style="padding: 0 0.3rem;"
    hx-get="{% url 'calcounter:list_f' 'simple' %}"
    hx-target="#pantry-log"><i class="fa-solid fa-cube"></i></button>
  <button data-tooltip="All" data-placement="bottom" style="padding: 0 0.3rem;"
    hx-get="{% url 'calcounter:list_f' 'all' %}"
    hx-target="#pantry-log"><i class="fa-solid fa-list-ul"></i></button>

  <button id="pantry-input-btn" data-tooltip="Add" data-placement="bottom" style="padding: 0 0.3rem;"
    hx-get="{% url 'calcounter:food_input' %}"
    hx-on:click="document.getElementById('pantry-input').classList.remove('hidden')"
    hx-target="#pantry-input"><i class="fa-solid fa-plus"></i></button>
</span>
</header>
  <ul id="food-list">
    <div id="pantry-input" class="hidden"></div>
  {% if foods %}
    {% for pantry in foods %}
    {% include './food.html' with pantry=pantry open=False %}
    {% endfor %}
  {% else %}
    <li class="food blank-inspect">
    Find your favorite foods
    </li>
  {% endif %}
  </ul>