<li class="food" id="pantry-item-{{ pantry.id }}" style="position:relative;"
  hx-on:click="this.querySelector('.details').classList.toggle('hidden');
  this.classList.toggle('active');">
  <span>
    {% if pantry.name %}
    {{ pantry.name.upper }}
    {% else %}
    {{ pantry.food.name.upper }} 
    {% endif %}

    
    <span style="position:absolute; right:1rem; font-size:small;">
    {% for badge in pantry.badges %}
    <span data-tooltip="{{badge.label}}" data-placement="top">
      <i class="fa-solid {{ badge.icon }}" style="color:{{badge.color}}"></i>
    </span>
    {% endfor %}
    {%if pantry.food.ingredient_set.exists %}
    <span style="margin-left:5px;"data-tooltip="Self Made" data-placement="left" >
      <i class="fa-solid fa-apple-whole" style="color:#69359c"></i>
    </span>
    {% else %}
    <span style="margin-left:5px;"data-tooltip="USDA Certified" data-placement="left" >
      <i class="fa-solid fa-certificate" style="color:var(--pico-primary)"></i>
    </span>
    {% endif %}
    </span>
  </span>

  {% if open %}
  <div class="details vertical-group" style="align-items: center;">
  {% else %}
  <div class="details hidden vertical-group" style="align-items: center;"
  hx-on:click="event.stopPropagation();">
  {% endif %}

  <span style="position:absolute;top:0.5rem;right:0.5rem;">
    <button style="padding:0 0.5rem;"
      hx-get="{% url 'calcounter:unit' pantry.food.id %}"
      hx-target="#unit-target">
        <i class="fa-solid fa-pen"></i>
    </button>
    <button style="padding:0 0.5rem;"
        hx-delete="{% url 'calcounter:delete_food' pantry.id %}"
        hx-target="closest li"
        hx-swap="outerHTML">
      <i class="fa-solid fa-trash"></i>
    </button>
  </span>



  <div class="nutrition vertical-group">
    <div class="horizontal-group nutrition-pies-row">
      <div id="macro-{{pantry.id}}" class="nutrition-pie-container">
      </div>
      <div id="mineral-{{pantry.id}}" class="nutrition-pie-container">
      </div>
      <div id="vitamin-{{pantry.id}}" class="nutrition-pie-container">
      </div>
    </div>
  </div>


  <div class="horizontal-group" style="padding-top:0.5rem;width:100%;">
    <div id="status-{{ pantry.id }}" style="flex:2;
    color: {% if pantry.status == 's' %}green{% elif pantry.status == 'l' %}orange{% else %}red{% endif %};">
      {{ pantry.get_status_display }}
    </div>

    <div style="flex:1; display: flex; align-items: center; gap: 5px;">
      <button hx-post="{% url 'calcounter:update_pantry' pantry.id 'down' %}" 
              hx-target="#pantry-item-{{ pantry.id }}" hx-swap="outerHTML"
              style="padding:0 0.5rem;">-</button>
      
      <input name="amount" value="{{ pantry.amount }}"
             style="width:50px;height:fit-content; text-align: center; margin: 0; padding:0;"
             hx-post="{% url 'calcounter:update_pantry' pantry.id 'set' %}"
             hx-on:click="event.stopPropagation();"
             hx-trigger="keyup changed delay:500ms"
             hx-target="#pantry-item-{{ pantry.id }}" hx-swap="outerHTML">
      
      <button hx-post="{% url 'calcounter:update_pantry' pantry.id 'up' %}" 
              hx-target="#pantry-item-{{ pantry.id }}" hx-swap="outerHTML"
              style="padding:0 0.5rem;">+</button>
    </div>

    <div style="flex:2;">
      <div class="unit-container">
      <select name="unit_id" class="unit-select"
              hx-post="{% url 'calcounter:update_pantry' pantry.id 'unit' %}"
              hx-target="#pantry-item-{{ pantry.id }}" hx-swap="outerHTML"
              hx-on:click="event.stopPropagation();">
        {% for unit in pantry.food.units.all %}
          <option title="{{ pantry.unit.name }}"value="{{ unit.id }}" {% if unit == pantry.unit %}selected{% endif %}>
            {{ unit.name }}
          </option>
        {% endfor %}
      </select>
      </div>
    </div>

  </div>

  {% if pantry.food.ingredient_set.exists %}
  <details style="width:100%;margin-bottom:0;"
    hx-on:click="event.stopPropagation();">
    <summary>Foods</summary>
    <div class="vertical-group">
    {% for mapping in pantry.food.ingredient_set.all %}
      <div class="ingredient">
        <span class="ingredient-name">{{ mapping.ingredient.name }}</span> : <span class="ingredient-unit">{{ mapping.amount}} {{ mapping.unit.name }}</span>
      </div>
    {% endfor %}
    </div>
  </details>
  {% endif %}

  </div>
</li>


<script>
// Self-invoking call for this specific food item
(function() {
  const macros = {{ pantry.macros|safe }};
  const minerals = {{ pantry.minerals|safe }};
  const vitamins = {{ pantry.vitamins|safe }};

  drawNutrientPie("#macro-{{ pantry.id }}", macros, "Macros", ["var(--protein-color)", "var(--fat-color)", "var(--carb-color)"]);
  // 6 colors for minerals and vitamins
  drawNutrientPie("#mineral-{{ pantry.id }}", minerals, "Minerals", ["var(--sodium-color)", "var(--potassium-color)", "var(--calcium-color)", "var(--magnesium-color)", "var(--zinc-color)", "var(--iron-color)"]);
  drawNutrientPie("#vitamin-{{ pantry.id }}", vitamins, "Vitamins", ["var(--vitamin-a-color)", "var(--vitamin-b6-color)", "var(--vitamin-b12-color)", "var(--vitamin-c-color)", "var(--vitamin-d-color)", "var(--vitamin-e-color)"]);
})();
</script>
