<dialog open>
<article>
    <header>
        <button rel="prev"
            hx-get="{% url 'workouts:clear' %}"
            hx-target="#modal-workout"
            hx-on:click="event.stopPropagation(); document.getElementById('pantry-input').classList.add('hidden')"></button>
        <p>
            Input Method
        </p>
    </header>
    <div class="horizontal-group">
        <button style="flex: 1;"
            hx-get="{% url 'calcounter:complex_food' %}"
            hx-target="#food-list"
            hx-trigger="click"
            hx-swap="innerHTML swap:0.4s"><i class="fa-solid fa-cubes-stacked" style="margin-right: 5px;"></i>Recipe</button>
        <button style="flex: 1;"
            hx-get="{% url 'calcounter:search_food' %}"
            hx-target="#pantry-log"
            hx-trigger="click"
            hx-swap="innerHTML swap:0.4s"><i class="fa-solid fa-bread-slice" style="margin-right: 5px;"></i>Search</button>
        <button style="flex: 1;"
            data-tooltip="Coming Soon"
            data-placement="top"><i class="fa-solid fa-camera" style="margin-right: 5px;"></i>Label</button>
    </div>
</article>
</dialog>

        