{% comment %} food_detail.html {% endcomment %}

<hgroup>
  <h1>{{ food.name }}</h1>
  <p>(per 100g)</p>
</hgroup>

<h2>Macro Nutrients </h2>
<table>
    <thead>
        <tr>
            <th>Nutrient</th>
            <th>Value (g)</th>
        </tr>
    </thead>
    <tbody>
        {% for name, value in food.macros.items %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value.value|floatformat:2 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Mineral Profile</h2>
<table>
    <thead>
        <tr>
            <th>Mineral</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
    {% for name, value in food.minerals.items %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value.value|floatformat:2 }} {{value.unit}}</td>
            </tr>
    {% endfor %}
    </tbody>
</table>



<h2>Vitamins</h2>
<table>
    <thead>
        <tr>
            <th>Vitamin</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
    {% for name, value in food.vitamins.items %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value.value|floatformat:2 }} {{value.unit}}</td>
            </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Serving Info</h2>

<p> Standard Serving: {{ gram }} grams per {{ amount }} {{modifier}}</p>

<div class="horizontal-group">
<button style="flex: 1;"
    hx-on:click="
    document.getElementById('search-results').classList.toggle('hidden');
    document.getElementById('selected-food').classList.toggle('hidden');
    "> BACK </button>
<button style="flex: 1;"
	hx-post="{% url 'calcounter:add_p' food_id %}"
    hx-vals='{"modifier": "{{ modifier }}", "amount": "{{ amount }}", "gram_weight": "{{ gram }}"}'
	hx-trigger="click"
	hx-target="#pantry-log"> ADD </button>
</div>