{% comment %} food_detail.html {% endcomment %}

<hgroup>
  <h1>{{ food.name }}</h1>
  <p>(per 100g)</p>
</hgroup>

<div class="goal-group-header">Macros</div>
{% include "calcounter/nutrient_goal_rows.html" with nutrient_items=food.macros %}

<div class="goal-group-header">Minerals</div>
{% include "calcounter/nutrient_goal_rows.html" with nutrient_items=food.minerals %}

<div class="goal-group-header">Vitamins</div>
{% include "calcounter/nutrient_goal_rows.html" with nutrient_items=food.vitamins %}

<hr>

{# need list of available units here #}

<div class="horizontal-group">
<button style="flex: 1;"
    hx-on:click="
    document.getElementById('search-results').classList.toggle('hidden');
    document.getElementById('selected-food').classList.toggle('hidden');
    "> BACK </button>
<button style="flex: 1;"
	hx-post="{% url 'calcounter:add_p' food_id %}"
	hx-trigger="click"
	hx-target="#pantry-log"> ADD </button>
</div>
