<button id="back-btn"
	hx-get="{% url "calcounter:cancel_m" %}"
	hx-target="#meal-input"
	hx-trigger="click"
	hx-on:click="
	document.querySelector('#meal-input').classList.remove('big');
	document.querySelector('#meal-log').classList.add('big');
	"
	style="position:absolute;top:10px;right:10px;padding:0 0.5rem;">
    <i class="fa-solid fa-xmark"></i>
</button>

<form style="flex:1;"
    hx-post="{% url 'calcounter:add' %}"
	hx-target="#meal-log">
    {% csrf_token %}

    {{ form.name.label_tag }} {{ form.name }}

    <h3>Foods Consumed</h3>
    {{ formset.management_form }}
    <div id="consumption-list" class="vertical-group">
        {% for mealconsumption_form in formset %}
            {% include 'calcounter/meal_row.html' with form=mealconsumption_form %}
        {% endfor %}
    </div>

    <div class="horizontal-group" style="justify-content:center;">
    <button type="button"
        data-tooltip="Add a meal row" data-placement="top" 
        hx-get="{% url 'calcounter:add_meal_row' %}"
        hx-target="#consumption-list"
        hx-swap="beforeend"
        style="padding: 0 0.5rem;">
<i class="fa-regular fa-hand-pointer"></i>
    </button>
    <button type="button"
        data-tooltip="Manual Nutrients" data-placement="top" 
        hx-get="{% url 'calcounter:add_manual_meal_row' %}"
        hx-target="#consumption-list"
        hx-swap="beforeend"
        style="padding: 0 0.5rem;">
<i class="fa-regular fa-keyboard"></i>
    </button>
    </div>


    <button type="submit"
    hx-on:click="
    document.querySelector('#meal-input').classList.remove('big');
    document.querySelector('#meal-log').classList.add('big');
    ">Save Meal</button>
</form>



<script>
(function() {
document.querySelectorAll('.tom-select-meal').forEach(el => setupTomSelectMeal(el));
})();
</script>