<li class="meal expanded">
    <form 
        hx-post="{% url 'calcounter:update_food' food.id %}" 
        hx-target="closest .meal" 
        hx-swap="outerHTML">
        
        <span class="food_name">{{ food.name.upper }}</span>
        <div class="details">


<div class="button-container" style="position:absolute;top:5px;right:10px;">

<button class="form_btn" style="font-size:12px;margin:5px; padding: 5px 10px;"
	name="submit" type="submit">SAVE
</button>
    <button class="delete-btn" style="font-size:12px;margin:5px; padding: 5px 10px;"
	    hx-get="{% url 'calcounter:render_food' food.id %}"
	    hx-target="closest .meal"
	    hx-swap="outerHTML">
	CANCEL
    </button>
</div>



            <table style="width: 100%; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <th scope="row">Calories</th>
                        <td>
			<input class="input" type="number" name="calories" value="{{ food.calories }}" required></td>
                    </tr>
                    <tr>
                        <th scope="row">Protein</th>
                        <td><input class="input" type="number" name="protein" value="{{ food.protein }}" required></td>
                    </tr>
                    <tr>
                        <th scope="row">Carbs</th>
                        <td>
			<input class="input" type="number" name="carb" value="{{ food.carb }}">
			</td>
                    </tr>
                    <tr>
                        <th scope="row">Fats</th>
                        <td>
			<input class="input" type="number" name="fat" value="{{ food.fat }}">
			</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</li>
