<button id="meal-input-btn" hx-swap-oob="true" style="padding: 0 0.3rem;"
	hx-get="{% url "calcounter:list_m" %}"
	hx-target="#meal-log"
	hx-trigger="click"><i class="fa-solid fa-xmark"></i></button>

<div id="meal-input" class="input-area container overflow-auto" style="padding:0;">
<form style="flex:1;"
    hx-post="{% url 'calcounter:add' %}"
	hx-target="#meal-log">
    {% csrf_token %}

    {{ form.name.label_tag }} {{ form.name }}

    <h3>Foods Consumed</h3>
    {{ formset.management_form }}
    <div id="consumption-list" class="vertical-group">
        {% for mealconsumption_form in formset %}
            {% include 'calcounter/meal_row.html' with form=mealconsumption_form %}
        {% endfor %}
    </div>

    <div class="horizontal-group" style="justify-content:center;">
    <button type="button"
        data-tooltip="Add a meal row" data-placement="top" 
        hx-get="{% url 'calcounter:add_meal_row' %}"
        hx-target="#consumption-list"
        hx-swap="beforeend"
        style="padding: 0 0.5rem;">
<i class="fa-regular fa-hand-pointer"></i>
    </button>
    <button type="button"
        data-tooltip="Manual Nutrients" data-placement="top" 
        hx-get="{% url 'calcounter:add_manual_meal_row' %}"
        hx-target="#consumption-list"
        hx-swap="beforeend"
        style="padding: 0 0.5rem;">
<i class="fa-regular fa-keyboard"></i>
    </button>
    </div>


    <button type="submit"
    hx-on:click="
    document.querySelector('#meal-input').classList.remove('big');
    document.querySelector('#meal-log').classList.add('big');
    ">Save Meal</button>
</form>
</div>