<header style="position:relative;"> 
  <i class="fa-solid fa-burger"></i>
  {% if date == today %}
    Today's Meals
  {% else %}
  {{ date|date:"m/d" }} Meals 
  {% endif %}
<span class="header-buttons" style="position: absolute; right: 1rem;">
  <button data-tooltip="Jump to Today" data-placement="bottom" style="padding: 0 0.3rem;"
    hx-on:click="
      const todayISO = new Date().toLocaleDateString('en-CA');
      setSelectedDate(todayISO);
      htmx.ajax('GET', '/food/list/meal', {target: '#meal-log'});"><i class="fa-solid fa-calendar"></i></button>
  <button id="meal-input-btn" data-tooltip="New Meal" data-placement="bottom" style="padding: 0 0.3rem;"
      hx-get="{% url 'calcounter:add' %}"
      hx-target="#meal-list"><i class="fa-solid fa-plus"></i></button>
</span>
</header>
<ul id="meal-list">
  {% if meals %}
    {% for meal in meals %}
    {% include './meal.html' with meal=meal %}
    {% endfor %}
  {% else %}
  <li class="food blank-inspect">Eat a Meal</li>
  {% endif %}
</ul>