<!--
        hx-post="{% url 'calcounter:add' %}"
	hx-target="#meal_list__container"
-->
<form method="post" style="flex:1; position: relative;">
    {% csrf_token %}

	<button id="back-btn"
	hx-get="{% url "calcounter:cancel_m" %}"
	hx-target="#meal-input"
	hx-trigger="click"
	hx-on:click="
	document.querySelector('#meal-input').classList.remove('big');
	document.querySelector('#meal-log').classList.add('big');
	"
	style="position:absolute;top:0;right:5px;"
	> BACK</button>

	<hgroup>
    <h1>New Meal</h1>
    <p>Add Food</p>
	</hgroup>
    {{ meal_form.as_p }}

    <h2>Foods Consumed</h2>
    
    {{ formset.management_form }} 

    <table id="consumption-table">
        <thead>
            <tr>
                <th>Food</th>
                <th>Serving (grams)</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
            <tr class="consumption-row">
                {{ form.id }}
                {{ form.meal }} 
                {{ form.food }} 

                <td>{{ form.food_name }}</td>
                <td>{{ form.serving_g }}</td>
                <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit">Save Meal</button>
</form>
