<div style="display:flex;flex-direction:column;">
<div class="button-container">
    <div class="input_container">
      <input id="new-ingred" type="text" placeholder="">
      <label for="new-ingred">Food Name</label>
    </div>
</div>
<div class="button-container" style="margin: revert; padding:revert;">
  <button class="graph-btn" style="background-color: var(--bg);"
    hx-get="{% url 'calcounter:ingred_search' %}"
    hx-target="#meal_list__container"
    hx-trigger="click"
    hx-swap="innerHTML swap:0.4s">
   + 
  </button>
</div>
</div>
