<div> </div>

<div id="totals" hx-swap-oob="True">
	<div id="calories">
	  <span style="font-size:14px;color: var(--yellow);">Calories:</span>
	  {{calories}}
	  <span style="font-size:14px;"> / </span>
	  <span style="font-size:14px;color: var(--yellow);">2000</span>
	</div>
	<div id="protein">
	  <span style="font-size:14px;color: var(--blue);">Protein:</span>
	  {{protein}}
	  <span style="font-size:14px;"> / </span>
	  <span style="font-size:14px;color: var(--blue);">156</span>
	</div>
</div>
