<header style="position:relative;"> 
  <i class="fa-solid fa-burger"></i>
  {% if date == today %}
    Today's Meals
  {% else %}
  {{ date|date:"m/d" }} Meals 
  {% endif %}
<span style="position: absolute; right: 1rem;"
  hx-on:click="
    const todayISO = new Date().toLocaleDateString('en-CA');
    setSelectedDate(todayISO);
    htmx.ajax('GET', '/food/list/meal', {target: '#meal-log'});
  ">
  <button data-tooltip="Jump to Today" data-placement="left" style="padding: 0 0.3rem;"><i class="fa-solid fa-calendar"></i></button>
</span>
</header>
{% if meals %}
  <ul id="meal-list">
    {% for meal in meals %}
    {% include './meal.html' with meal=meal %}
    {% endfor %}
  </ul>
{% else %}
  <div class="blank-inspect">
	Eat a Meal
  </div>
{% endif %}

{% if added %}

<article id="meal-input"
class="input-area container overflow-auto"
style="padding:1rem; gap:0.5rem;position:relative;"
hx-swap-oob="true">
  {% include 'calcounter/meal_entry_button.html' %}
</article> 

{% endif %}
