<header style="position:relative;">
    <i class="fa-solid fa-scroll"></i>
    Recipes

    <span class="header-buttons" style="position: absolute; right: 1rem;">
        <button data-tooltip="Shop Recipe Plans" data-placement="bottom" style="padding: 0 0.3rem;">
            <i class="fa-solid fa-sack-dollar"></i>
        </button>
        <button data-tooltip="Add from link" data-placement="bottom" style="padding: 0 0.3rem;">
            <i class="fa-solid fa-link"></i>
        </button>
        <button data-tooltip="All Recipes" data-placement="bottom" style="padding: 0 0.3rem;"
            hx-get="{% url 'calcounter:list_recipes' %}" hx-target="#recipe-list">
            <i class="fa-solid fa-list-ul"></i>
        </button>

        <button id="recipe-input-btn" data-tooltip="New Recipe" data-placement="bottom" style="padding: 0 0.3rem;"
            hx-get="{% url 'calcounter:add_recipe' %}" hx-target="#recipe-list">
            <i class="fa-solid fa-plus"></i>
        </button>
    </span>

</header>
<ul id="recipe-list" style="flex:1;" hx-get="{% url 'calcounter:list_recipes' %}" hx-trigger="load">
</ul>