
<div class="button-container" style="
	flex-direction:column;
	overflow-y: auto;
	width: 100%;
	margin-right: 5px;">
{% for food in foods %}
<div id="template-target" style="display:flex; flex-direction: row;">
    <button class="form_btn"style="flex: 9; font-size:18px;"
            hx-post="{% url 'calcounter:add_t' food.id %}"
            hx-target="#meal_entry__container"
	    hx-swap="outerHTML swap:0.4s">
        {{ food.name.upper }}
    </button>
    <div class="button-container">
	    <button style="flex: 1; font-size:18px;" class="back-btn"
		    hx-delete="{% url 'calcounter:delete_t' food.id%}"
		    hx-target="closest #template-target"
		    hx-swap="outerHTML swap:0.2s">
		    <i class="fa-solid fa-trash"></i>
	    </button>
    </div>
</div>
{% endfor %}
 <button class="add" style="height: 46px;margin:2px;"
    hx-get="{% url 'calcounter:add' %}"
    hx-trigger="click"
    hx-target="#meal_entry__container"
    hx-swap="innerHTML swap:0.4s">
            + 
 </button>
</div>
