<div class="horizontal-group">
    <article class="summary-area" style="height:10vh;">
      <span class="macro-label">Avg. Bw</span>
       {{mean|floatformat:1}} 
    </article>
    <article class="summary-area" style="height:10vh;">
      <span class="macro-label">Fluctations</span>
       {{stddev|floatformat:1}} 
    </article>
    <article class="summary-area" style="height:10vh;">
      <span class="macro-label">Biggest Drop</span>
       {{max_drawdown}} 
    </article>
    <article class="summary-area" style="height:10vh;">
      <span class="macro-label">Largest Gain</span>
       {{max_runup}} 
    </article>
    <article class="summary-area" style="height:10vh;">
      <span class="macro-label">Min</span>
       {{min}} 
    </article>
    <article class="summary-area" style="height:10vh;">
      <span class="macro-label" style="color:var(--pico)">Max</span>
       {{max}} 
    </article>
</div>
