<div class="statistic"><span class="small">Average Volume :</span> {{mean}}</div>
<div class="statistic"><span class="small"> Stability : </span>{{stddev}}</div>
<div class="statistic">
  <span class="small"> current streak : </span> {{cur_streak}}
  <span class="small"> longest streak : </span> {{long_streak}}
</div>
<div class="statistic">
  <span class="small"> workouts / month : </span> {{workout_last_4wk}}
  <span class="small"> workouts / week : </span> {{workout_4wk}}
</div>
<div class="statistic">
  <span class="small"> acute load : </span> {{acute}}
  <span class="small"> chronic load : </span> {{chronic}}
  <span class="small"> ratio : </span> {{acwr}}
</div>
<div id="simple" class="statistic" >
  <div class="statistic"><span class="stat-label">max</span>{{max}}</div>
</div>
