@keyframes scroll-left {
  0% { transform: translateX(0);}
  40% { transform: translateX(0);}
  60% {transform: translateX(-25%);}
  100% {transform: translateX(0);}
}
/* === Meal Header (totals) === */

#meal_head {
    width: 100%;
    height: 100%;
    display: flex;
}

#meal_head__container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  background-color: var(--fg);
  margin: 15px 5px 15px 0px;
}

#totals {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

#calories, #protein {
    user-select: none;
    position: relative;
    font-size: 28px;
    flex-grow: 1;
    margin: 5px;
    text-align: center;
}

.main-nut {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#id_date {
  padding-top: 15px;
  padding-bottom: 7px;
}

/* === Meal List Display === */

.meal {
    position: relative;
    display: flex;  /* Make the list item a flex container */
    flex-direction: column;
    padding: 5px 10px;
    list-style: none;
    margin: 5px;
    box-shadow: var(--item-shadow);
    background-color: var(--fg);
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
}

.meal-inline {
  display: flex;
  flex-direction: row; 
  justify-items: space-evenly;
  align-items: center;
}
.inline_cals {
  font-size: 1rem;
  color: var(--blue);
  background: var(--button-blue-hover);
  border-radius: 10px;
  padding: 4px 10px;
  width: 60px;
}
.inline_protein{
  font-size: 1rem;
  color: var(--yellow);
  margin-left: 20px;
  background: var(--button-yellow-hover);
  border-radius: 10px;
  padding: 4px 10px;
  width: 50px;
}

.meal .details {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition:
        max-height 0.4s ease,
        padding 0.3s ease,
        opacity 0.3s ease;
}

.meal.expanded .details {
  max-height: 200px; /* set this to your known height */
  opacity: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.meal.expanded .inline_cals,
.meal.expanded .inline_protein {
  display: none;
}

.meal:hover {
    transform: translateY(-2px);
    box-shadow: var(--item-shadow-hover);
    transition: all 0.3s ease-in-out;
}

.meal.expanded:hover {
	transform: none;
	box-shadow: var(--item-shadow);
}

.scroll-container {
  position: relative;
  width:clamp(250px, 100%, 100%);
  overflow: hidden;
  white-space: nowrap;
}

.scroll-text {
  display:inline-block;
}

.meal .food_name {transition: transform 0.3s ease;}
.meal.expanded .food_name{transform: translateX(30%)}

.meal .details .button-container {display:none;}
.meal.expanded .details .button-container {display: flex;}


tr {
  border-bottom: 1px solid var(--white); /* horizontal line */
}
