

/* ----------- --------- Meal Styling ----------- --------- */

/* ---------- Meal Header (weight & totals) ---------- */

#meal_head {
    width: 100%;
    height: 100%;
    display: flex;
}

#meal_head__container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  background-color: var(--fg);
  margin: 15px 5px 15px 0px;
}

#totals {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

#calories, #protein {
    user-select: none;
    position: relative;
    font-size: 28px;
    flex-grow: 1;
    margin: 5px;
    text-align: center;
}

.main-nut {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#id_date {
  padding-top: 15px;
  padding-bottom: 7px;
}

/* ---------- Meal List Display ---------- */


ul {
    margin:0px;
    padding:5px;
}

#meal_list, #workout_list, #graph_display {
    background-color: var(--bg);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    display: flex;          /* Make it a flex container */
    flex-direction: column; /* Stack items vertically */
    overflow: hidden;       /* Prevent content from escaping */
}

#meal_list__container, #workout_list__container, #graph_display__container {
    flex-grow: 1;        /* Takes up remaining space */
    overflow-y: auto;    /* Enables scrolling when content exceeds height */
    margin: 0;
    max-height: 100%;    /* Ensures it doesn't grow beyond the parent */
    position: relative;
}

.meal {
    display: flex;  /* Make the list item a flex container */
    flex-direction: column;
    padding: 5px 10px;
    list-style: none;
    margin: 5px;
    box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--fg);
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.shadow-left,
.shadow {
    box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.5);
}

.shadow-left:hover,
.shadow:hover {
    box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 1);
}

.meal:hover {
    transform: translateY(-2px);
    box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}

.meal .details {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition:
        max-height 0.4s ease,
        padding 0.3s ease,
        opacity 0.3s ease;
}

.meal.expanded .details {
  max-height: 200px; /* set this to your known height */
  opacity: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.meal .food_name {
    transition: transform 0.3s ease;
}

.meal.expanded .food_name{
    transform: translateX(30%)
}

tr {
  border-bottom: 1px solid var(--white); /* horizontal line */
}


/* ---------- Meal Entries ---------- */
#lift_head,
#graph_head,
#meal_head,
#meal_entry,
#lift_entry,
#graph_entry {
    min-height:0;
    flex-grow:0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;          /* Make it a flex container */
    flex-direction: column; /* Stack items vertically */
    overflow: hidden;       /* Prevent content from escaping */
    justify-content: center;
}



#meal_entry__container,
#lift_entry__container,
#graph_entry__container {
    margin: 10px;
}

#bw_entry_form,
#t_entry_form,
#l_entry_form,
#m_entry_form {
    background-color: var(--bg);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.entry {
    height: 100%;
    padding: 10px;
}
